.flex.items-center.flex-col.gap-4
    span
        p.antialiased.text-3xl.text-center Here is the url that will allow you to share your message
    span
        a(href=url, class="hover:underline")= url
    span.box-content.h-128.w-128.p-2.border-2
        img(src=qrCodeUrl)
