mixin unexpectedError
  #unexpected-error.grid.place-items-center.mb-6.hidden
    .p-4.mb-4.text-sm.text-red-800.rounded-lg.bg-red-50(role="alert")
      span.font-medium An unexpected error has occurred.
      |
      | Please try again later
