extends layout

include ./mixins/button
include ./mixins/textarea
include ./mixins/dynamic-load-container
include ./mixins/script

block scripts
    +script('home.min.js')

block content
    +dynamicLoadContainer
        form#message-form
            .mb-6
                label.block.mb-2.text-xl.font-medium.text-gray-900(for='message-textarea' class='dark:text-white') Enter the message you want to share then click Generate URL
                +texarea('message-textarea')
            .grid.place-items-center
                span.w-56
                    +button('submit-button', 'Generate URL')




