include ./mixins/button

.flex.items-center.flex-col.gap-4
  span
    p.antialiased.text-3xl.text-center Here is the url that will allow you to share your message
  span
    a#message-url.antialiased.text-blue-600.text-base.text-center(
      href=url,
      class="hover:underline md:text-xl"
    )= url
  span.box-content.p-2.border-2
    img(src=qrCodeUrl)
  span.flex.items-center.flex-col.gap-10.w-56.mt-10
    +button('copy-to-clipboard-button', 'Copy to clipboard').w-full
    +button('reveal-another-message-button', 'Reveal another message', '/').w-full
